.breadcrumb { 
    background-color:  #fff;
    list-style: none; 
    overflow: hidden; 
    font: 18px Helvetica, Arial, Sans-Serif;
    margin: 25px;
    padding: 0;
  }

  .breadcrumb li { 
    float: left; 
  }

  .breadcrumb li a {
    color: white;
    text-decoration: none; 
    padding: 10px 0 10px 55px;
    background: #007ad9; /* fallback color */
    background: #007ad9; 
    position: relative; 
    display: block;
    float: left;
  } 
  
  .breadcrumb li a:after { 
    content: " "; 
    display: block; 
    width: 0; 
    height: 0;
    border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid #007ad9;
    position: absolute;
    top: 50%;
    margin-top: -50px; 
    left: 100%;
    z-index: 2; 
  }
  .breadcrumb li a:before { 
    content: " "; 
    display: block; 
    width: 0; 
    height: 0;
    border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px; 
    margin-left: 1px;
    left: 100%;
    z-index: 1; 
  } 

  .breadcrumb li:first-child a {
    padding-left: 10px;
  }

  .breadcrumb li:nth-child(2) a       { background: #038df9; }
  .breadcrumb li:nth-child(2) a:after { border-left-color: #038df9; }
  .breadcrumb li:nth-child(3) a       { background: #33a5ff; }
  .breadcrumb li:nth-child(3) a:after { border-left-color: #33a5ff; }
  .breadcrumb li:nth-child(4) a       { background: #5fb5f9; }
  .breadcrumb li:nth-child(4) a:after { border-left-color: #5fb5f9; }
  .breadcrumb li:nth-child(5) a       { background: #7cc5ff; }
  .breadcrumb li:nth-child(5) a:after { border-left-color: #7cc5ff; }
  .breadcrumb li:nth-child(6) a       { background: #8ecdff; }
  .breadcrumb li:nth-child(6) a:after { border-left-color: #8ecdff; }
  .breadcrumb li:nth-child(7) a       { background: #a2d6ff; }
  .breadcrumb li:nth-child(7) a:after { border-left-color: #a2d6ff; }
  
  .breadcrumb li:last-child a:after { border: 0; }
  // .breadcrumb li a:hover { background: #125d98; }
  // .breadcrumb li a:hover:after { border-left-color: #125d98 !important; }

  // .breadcrumb li a.active {
  //   color: #fff;
  //   background-color: #095d9e !important;
  // }

  // .breadcrumb li a.active:after {
  //   border-left-color: #095d9e !important;
  // }
  
  