<ul class="breadcrumb">
    <li><a [routerLink]="['customer']" routerLinkActive="active">Customer</a>
    <li><a [routerLink]="['customer/enquiry']" routerLinkActive="active">Customer Enquiry</a></li>
    <li><a [routerLink]="['customer/servey']" routerLinkActive="active">Customer Servey </a></li>
    <li><a [routerLink]="['customer/formProcess']" routerLinkActive="active">Customer Form Process </a></li>
    <li><a [routerLink]="['customer/idGenerate']" routerLinkActive="active">Customer Generated ID</a></li>
    <li><a [routerLink]="['customer/complete']" routerLinkActive="active">Completed Customer</a></li>
    <li><a [routerLink]="['customer/cancel']" routerLinkActive="active">Canceled Customer</a></li>
    <li></li>    
  </ul>
  
  <div class="container-fluid mt-4 pl-3">
    <router-outlet></router-outlet>
  </div>