<form name="form" #f="ngForm" autocomplete="off">
  
    <div class="form-row">
      <div class="form-group col-md-12">
        <label>Model No *</label>
        <input type="text" class="form-control" pInputText maxlength="100" [(ngModel)]="companyModelMapping.modelNo" name="modelNo" #modelNo="ngModel" required />
      </div>          
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Company Name *</label>
          <p-dropdown [options]="companyList" appendTo="body" [(ngModel)]="selectedCompany" placeholder="Select" name="companyname" #companyname="ngModel" optionLabel="companyName" required></p-dropdown>
        <input hidden="hidden" type="text" pInputText  class="form-control" [(ngModel)]="selectedCompany" name="companyName" #companyName="ngModel" required />
        </div>          
      </div>
      
  
    <div class="form-row">
      <div class="form-group col-md-12">
        <div class="float-right">
          <button type="button" pButton icon="far fa-save" (click)="SaveCompanyModelMapping()" [disabled]="f.form.invalid" label="Save"></button>
        </div>
      </div>
    </div>
  
  
  </form>
  