<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-light navbar-light">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
    <li class="nav-item" ><span class="moduleName">{{moduleName}}</span></li>
  </ul>

 
  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-link text-black">Username</li>
    <!-- Notifications Dropdown Menu -->
    <!-- <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="far fa-bell"></i>
        <span class="badge badge-warning navbar-badge">15</span>
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <span class="dropdown-item dropdown-header">15 Notifications</span>        
      </div>
    </li> -->
    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="fa fa-user-circle fa-2x"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <a href="#" class="dropdown-item">
          <i class="fa fa-unlock mr-2"></i> Change Password
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
          <i class="fa fa-question-circle mr-2"></i> Get Help
        </a>
        <div class="dropdown-divider"></div>
        <a (click)="logout()" class="dropdown-item">
          <i class="fa fa-power-off mr-2"></i> Logout
        </a>        
      </div>
    </li>
  </ul>
</nav>
<!-- /.navbar -->

