.main-header{
  z-index:99 !important;
}

.navbar-light{
  background-color: #fff !important;
}

.dropdown-menu-lg .dropdown-item {
  padding: 1rem 1rem;
  font-size: 12px;
}

.moduleName {
  position: relative;
  top:8px;
  font-weight:500;
  color: rgba(0,0,0,1);
}
