<form name="form" #f="ngForm" autocomplete="off">

      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Country Name *</label>
          <p-dropdown [options]="countryList" appendTo="body" [(ngModel)]="selectedCountry" placeholder="Select" name="countryname" #countryname="ngModel" optionLabel="countryName" required></p-dropdown>        
        </div>          
      </div>  

      <div class="form-row">
        <div class="form-group col-md-12">
          <label>State Name *</label>
          <input type="text" class="form-control" pInputText maxlength="100" [(ngModel)]="selectedState.stateName" name="stateName" #stateName="ngModel" required />
        </div>          
        </div>      
  
    <div class="form-row">
      <div class="form-group col-md-12">
        <div class="float-right">
          <button type="button" pButton icon="far fa-save" (click)="UpdateState()" [disabled]="f.form.invalid" label="Update"></button>
        </div>
      </div>
    </div>
  
  
  </form>
  