<form name="form" #f="ngForm" autocomplete="off">
  
    <div class="form-row">
      <div class="form-group col-md-12">
        <label>Product Name *</label>
        <input type="text" class="form-control" pInputText maxlength="100" [(ngModel)]="product.productName" name="productName" #productName="ngModel" required />
      </div>          
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label>Unit Name *</label>
        <p-dropdown [options]="unitList" appendTo="body" [(ngModel)]="selectedUnit" placeholder="Select" name="unitname" #unitname="ngModel" optionLabel="unitName" required></p-dropdown>
      <input hidden="hidden" type="text" pInputText  class="form-control" [(ngModel)]="selectedUnit" name="UnitName" #UnitName="ngModel" required />
      </div>          
    </div>      
  
    <div class="form-row">
      <div class="form-group col-md-12">
        <div class="float-right">
          <button type="button" pButton icon="far fa-save" (click)="SaveProduct()" [disabled]="f.form.invalid" label="Save"></button>
        </div>
      </div>
    </div>
  
  
  </form>
  