<form name="form" #f="ngForm" autocomplete="off">

    <div class="form-row">        
        <div class="form-group col-md-6">
            <label>Customer Name *</label>
            <input type="text" class="form-control" pInputText value="{{customerName}}" required readonly />
        </div>  
        <div class="form-group col-md-6">
            <label>Employee's</label>
            <p-dropdown [options]="employeeList" appendTo="body" [(ngModel)]="selectedEmployee" placeholder="Select" name="employeename" 
            #employeename="ngModel" optionLabel="employeeName" required></p-dropdown>
            <input hidden="hidden" type="text" pInputText class="form-control" [(ngModel)]="selectedEmployee"
                name="employeeName" #employeeName="ngModel" required />
        </div>            
    </div>

    <div class="form-row">        
        <div class="form-group col-md-4">
            <label>Servey Date *</label>
            <p-calendar [(ngModel)]="servey.serveyDate" placeholder="DD-MM-YYYY" name="serveyDate"
            dateFormat="dd/M/yy" #serveyDate="ngModel" [showIcon]="true" required="required"></p-calendar>
        </div>  
        <div class="form-group col-md-4">
            <label>Status *</label>
            <p-dropdown [options]="StatusList" appendTo="body" [(ngModel)]="selectedStatus" placeholder="Select" name="sName" 
            #sName="ngModel" optionLabel="statusName" required (onChange)="enableServeyEndDate($event.value)"></p-dropdown>
            <input hidden="hidden" type="text" pInputText class="form-control" [(ngModel)]="selectedStatus"
                name="statusname" #statusname="ngModel" required />
        </div>
        <div class="form-group col-md-4">
            <label>Servey End Date</label>
            <p-calendar [(ngModel)]="servey.serveyEndDate" [disabled]="assignedEmployee" placeholder="DD-MM-YYYY" name="serveyenddate"
            dateFormat="dd/M/yy" #serveyenddate="ngModel" [showIcon]="true"></p-calendar>
        </div>   
    </div>  

    <div class="form-row">        
        <div class="form-group col-md-12">
            <label>Comment</label>
            <textarea type="text" class="form-control" rows="2" maxlength="4000" pInputTextarea [(ngModel)]="servey.serveyComment"
                name="serveyComment" #serveyComment="ngModel"></textarea>
        </div>
    </div>      

    

    <div class="form-row">
        <div class="form-group col-md-12">
            <div class="float-right">
                <button type="button" pButton icon="far fa-save" (click)="CustomerServey()" [disabled]="f.form.invalid"
                    [label]="lableName"></button>
            </div>
        </div>
    </div>

</form>