<form name="form" #f="ngForm" autocomplete="off">

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Company Name </label>
            <p-dropdown [options]="companyList" appendTo="body"  (onChange)="onChangeCompanySelect($event.value.companyId)" [(ngModel)]="selectedCompany" placeholder="Select"
                name="companyname" #companyname="ngModel" optionLabel="companyName" required></p-dropdown>            
        </div>
        <div class="form-group col-md-6">
            <label>Model No.</label>
            <p-dropdown [options]="modelList" appendTo="body" [(ngModel)]="selectedModel" placeholder="Select"
            [disabled]="enableModel" name="modelno" #modelno="ngModel" optionLabel="modelNo" required></p-dropdown>               
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>IP Address </label>
            <input type="text" class="form-control" pInputText maxlength="100"
                [(ngModel)]="selectedModem.ipAddress" name="ipAddress" #ipAddress="ngModel"
                required />
        </div>
        <div class="form-group col-md-6">
            <label>MAC Address </label>
            <input type="text" class="form-control" pInputText maxlength="100"
                [(ngModel)]="selectedModem.macAddress" name="macAddress" #macAddress="ngModel"
                required />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>PONSno </label>
            <input type="text" class="form-control" pInputText maxlength="100"
                [(ngModel)]="selectedModem.ponSno" name="ponSno" #ponSno="ngModel"
                required />
        </div>
        <div class="form-group col-md-6">
            <label>Sno. </label>
            <input type="text" class="form-control" pInputText maxlength="100"
                [(ngModel)]="selectedModem.sno" name="sno" #sno="ngModel"
                required />
        </div>
    </div>      

    <div class="form-row">
        <div class="form-group col-md-12">
            <div class="float-right">
                <button type="button" pButton icon="far fa-save" (click)="UpdateModem()" [disabled]="f.form.invalid"
                    label="Update"></button>
            </div>
        </div>
    </div>

</form>