<div class="wrapper">
  <app-header [menuName]="moduleName"></app-header>
  <app-side-bar></app-side-bar>
  <div class="content-wrapper p-2">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
