<form name="form" #f="ngForm" autocomplete="off">

      <div class="form-row">
        <div class="form-group col-md-12">
          <label>State Name *</label>
          <p-dropdown [options]="stateList" appendTo="body" [(ngModel)]="selectedState" placeholder="Select" name="statename" #statename="ngModel" optionLabel="stateName" required></p-dropdown>
        <input hidden="hidden" type="text" pInputText  class="form-control" [(ngModel)]="selectedState" name="stateName" #stateName="ngModel" required />
        </div>          
      </div>  

      <div class="form-row">
        <div class="form-group col-md-12">
          <label>District Name *</label>
          <input type="text" class="form-control" pInputText maxlength="100" [(ngModel)]="district.districtName" name="districtName" #districtName="ngModel" required />
        </div>          
        </div>      
  
    <div class="form-row">
      <div class="form-group col-md-12">
        <div class="float-right">
          <button type="button" pButton icon="far fa-save" (click)="SaveDistrict()" [disabled]="f.form.invalid" label="Save"></button>
        </div>
      </div>
    </div>
  
  
  </form>
  