<form name="form" #f="ngForm" autocomplete="off">
  
    <div class="form-row">
      <div class="form-group col-md-12">
        <label>City Name *</label>
        <p-dropdown [options]="cityList" appendTo="body" [(ngModel)]="selectedCity" placeholder="Select" name="cityname" #cityname="ngModel" optionLabel="cityName" required></p-dropdown>
      <input hidden="hidden" type="text" pInputText  class="form-control" [(ngModel)]="selectedCity" name="cityName" #cityName="ngModel" required />
      </div>          
    </div>  
  
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Area Name *</label>
          <input type="text" class="form-control" pInputText maxlength="100" [(ngModel)]="area.areaName" name="areaName" #areaName="ngModel" required />
        </div>          
        </div>     
        
    
      <div class="form-row">
        <div class="form-group col-md-12">
          <div class="float-right">
            <button type="button" pButton icon="far fa-save" (click)="SaveArea()" [disabled]="f.form.invalid" label="Save"></button>
          </div>
        </div>
      </div>
    
    
    </form>
    