 <!-- Main Footer -->
<footer class="main-footer text-center">
  &copy; <a >vision technlongy</a>
  all rights reserved.
  <!-- <div class="float-right d-none d-sm-inline-block">
    <b> {{versionNo}}</b>
  </div> -->
</footer>
