<form name="form" #f="ngForm" autocomplete="off">

    <div class="form-row">        
        <div class="form-group col-md-12">
            <label>Customer Name *</label>
            <input type="text" class="form-control" pInputText value="{{customerName}}" required readonly />
        </div>          
    </div>

     <div class="form-row">                
        <div class="form-group col-md-12">
            <label>Form Process Status</label>
            <p-dropdown [options]="StatusList" appendTo="body" [(ngModel)]="selectedStatus" placeholder="Select" 
            name="formProcess" #formProcess="ngModel" optionLabel="statusName" required></p-dropdown> 
            <input hidden="hidden" type="text" pInputText  class="form-control" [(ngModel)]="selectedStatus" 
            name="status" #status="ngModel" required />                              
        </div>            
    </div>

    <div class="form-row">        
        <div class="form-group col-md-12">
            <label>Form Process Date *</label>
            <p-calendar [(ngModel)]="process.formProcessDate" placeholder="DD-MM-YYYY" name="formprocessdate"
            dateFormat="dd/M/yy" #formprocessdate="ngModel" [showIcon]="true" required="required"></p-calendar>
        </div>            
    </div>  
    

    <div class="form-row">
        <div class="form-group col-md-12">
            <div class="float-right">
                <button type="button" pButton icon="far fa-save" (click)="CustomerFormProcess()" [disabled]="f.form.invalid"
                    [label]="lableName"></button>
            </div>
        </div>
    </div>

</form>