.col-sm-4 .color1{
    padding: 30px;
    background-color: #f17118;
    color: #fff;
    width: 100%;    
}
.col-sm-4 .color2{
    padding: 30px;
    background-color:#0ab989;
    color: #fff;
    width: 100%;    
}
.col-sm-4 .color3{
    padding: 30px;
    background-color:#6cda08;
    color: #fff;
    width: 100%;    
}
.display-4{
    display: inline !important;
}
.col-sm-4 .color1 .color2 .color3 span{    
    float: right;
}
i{    
    font-size: 50px;    
}