<div class="container-fluid" *ngFor="let item of DashboardTielCount">
  <div class="row">

    <div class="col-sm-4 text-center">
      <div class="color1">
        <i class="fas fa-users mr-5"></i>
        <p class="display-4">Customer's </p>
        <span class="display-4 ml-5"> {{item.totalCustomer}} </span>
      </div>
    </div>

    <div class="col-sm-4 text-center">
      <div class="color2">
        <i class="fa fa-object-group mr-5"></i>
        <p class="display-4">OLT</p>
        <span class="display-4 ml-4"> {{item.totalOlt}} </span>
      </div>
    </div>

    <div class="col-sm-4 text-center">
      <div class="color3">
        <i class="fa fa-book mr-5"></i>
        <p class="display-4">Spliter</p>
        <span class="display-4 ml-4"> {{item.totalSpliter}} </span>
      </div>
    </div>

  </div>
</div>