<form name="form" #f="ngForm" autocomplete="off">
  
    <div class="form-row">
      <div class="form-group col-md-12">
        <label>Party Name *</label>
        <input type="text" class="form-control" pInputText maxlength="100" [(ngModel)]="selectedPlan.planName" name="planName" #planName="ngModel" required />
      </div>
    </div>      

    <div class="form-row">
      <div class="form-group col-md-12">
        <label>Description </label>
      <textarea type="text" class="form-control" pInputTextarea maxlength="4000" [(ngModel)]="selectedPlan.discription" name="discription" #discription="ngModel"></textarea>
      </div>          
    </div>      
  
    <div class="form-row">
      <div class="form-group col-md-12">
        <div class="float-right">
          <button type="button" pButton icon="far fa-save" (click)="UpdatePlan()" [disabled]="f.form.invalid" label="Save"></button>
        </div>
      </div>
    </div>
  
  
  </form>
  