<div class="container-fluid mt-2">
    <p-table #dt [columns]="columns" [value]="selectedParametercustomerList" [rowHover]="true" [scrollable]="true" scrollHeight="600px"
      [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true" [loading]="loading"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records" [filterDelay]="0" selectionMode="single">
  
  
    <ng-template pTemplate="caption">
      <table>
        <tr>
          <td>
            <div class="text-left"> CUSTOMER {{this.setValue | uppercase}} </div>
          </td>
          <td>
            <div class="float-right">
              <i class="fa fa-search mr-2"></i>
              <input type="text" pInputText size="50" placeholder="Global Filter" class="m-2" (input)="dt.filterGlobal($event.target.value, 'contains')">              
            </div>
          </td>
        </tr>
      </table>
    </ng-template>
  
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          <span *ngIf="col.header != ''">{{col.header}}<p-sortIcon [field]="col.field"></p-sortIcon></span>
        </th>
      </tr>
    </ng-template>
  
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr *ngIf="setValue == 'enquiry'" (dblclick)="enquirySelect(rowData)" [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          <span *ngIf="col.header != '' && col.header != 'Booked Date'">{{rowData[col.field]}}</span>
          <span *ngIf="col.header === 'Booked Date'">{{rowData[col.field] | date:"dd-MMM-yyyy" }}</span>          
          <a *ngIf="col.header == '' && rowData[col.field] === 'AssignToEmployee'" (click)="UpdateDialog()"><i class="fas fa-edit mr-3"></i></a>
        </td>
      </tr>   
      <tr *ngIf="setValue == 'servey'"  (dblclick)="serveySelect(rowData)" [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          <span *ngIf="col.header != '' && col.header != 'Servey Date'">{{rowData[col.field]}}</span>
          <span *ngIf="col.header === 'Servey Date'">{{rowData[col.field] | date:"dd-MMM-yyyy" }}</span>
        </td>
      </tr>
      <tr *ngIf="setValue == 'formProcess'" (dblclick)="processSelect(rowData)" [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          <span *ngIf="col.header != '' && col.header != 'Form Process Date'">{{rowData[col.field]}}</span>
          <span *ngIf="col.header === 'Form Process Date'">{{rowData[col.field] | date:"dd-MMM-yyyy" }}</span>
        </td>
      </tr>
      <tr *ngIf="setValue == 'idGenerate'" [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          <span *ngIf="col.header != '' && col.header != 'Assign Date'">{{rowData[col.field]}}</span>
          <span *ngIf="col.header === 'Assign Date'">{{rowData[col.field] | date:"dd-MMM-yyyy" }}</span>
        </td>
      </tr>
      <tr *ngIf="setValue == 'complete'" [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          <span *ngIf="col.header != '' && col.header != 'Register Date'">{{rowData[col.field]}}</span>
          <span *ngIf="col.header === 'Register Date'">{{rowData[col.field] | date:"dd-MMM-yyyy" }}</span>
        </td>
      </tr> 
      <tr *ngIf="setValue == 'cancel'" [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          <span *ngIf="col.header != '' && col.header != 'Register Date'">{{rowData[col.field]}}</span>
          <span *ngIf="col.header === 'Register Date'">{{rowData[col.field] | date:"dd-MMM-yyyy" }}</span>
        </td>
      </tr>   
    </ng-template>

  </p-table>
  
  
  <p-toast class="toaster" position="bottom-right"> </p-toast>
  
  
  <p-confirmDialog></p-confirmDialog>
  
  </div>