<form name="form" #f="ngForm" autocomplete="off">

  <div class="form-row">
    <div class="form-group col-md-12">
      <label>District Name *</label>
      <p-dropdown [options]="districtList" appendTo="body" [(ngModel)]="selectedDistrict" placeholder="Select" name="districtname" #districtname="ngModel" optionLabel="districtName" required></p-dropdown>        
    </div>          
  </div> 
  
    <div class="form-row">
      <div class="form-group col-md-12">
        <label>City Name *</label>
        <input type="text" class="form-control" pInputText maxlength="100" [(ngModel)]="selectedCity.cityName" name="cityName" #cityName="ngModel" required />
      </div>          
      </div>      
      
  
    <div class="form-row">
      <div class="form-group col-md-12">
        <div class="float-right">
          <button type="button" pButton icon="far fa-save" (click)="UpdateCity()" [disabled]="f.form.invalid" label="Update"></button>
        </div>
      </div>
    </div>
  
  
  </form>
  