<div class="design-process-section" id="process-tab">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs process-model more-icon-preocess" role="tablist">
          <li *ngFor="let menu of TabMenus" role="presentation" routerLinkActive="active">
            <a routerLink='{{menu.route}}' aria-controls="createMsg" role="tab" data-toggle="tab">
              <i class="{{menu.icon}}" aria-hidden="true"></i>
              <p>{{menu.interfaceName}}</p>
            </a>
          </li>         
        </ul>      
      </div>
    </div>
  </div>
</div>
