.process-model {
  list-style: none;
  padding: 0;
  position: relative;
  max-width: 100%;
  margin: 20px auto !important;
  border: none;
  z-index: 0;
}

.process-model {
  list-style: none;
  padding: 0;
  position: relative;
  max-width: 100%;
  margin: 20px auto;
  border: none;
  z-index: 0;
}


.process-model li::after {
  background: #e5e5e5 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  margin: 0 auto;
  position: absolute;
  top: 33px;
  width: 100%;
  right: 0px;
  left: 0;
  z-index: -1;
}

.process-model li.visited::after {
  background: #e5e5e5;
}

.process-model li:last-child::after {
  width: 0;
}

.process-model li {
  display: inline-block;
  text-align: center;
  float: none;
  margin: 0 auto;
}

.nav-tabs.process-model > li.active > a, .nav-tabs.process-model > li.active > a:hover, .nav-tabs.process-model > li.active > a:focus, .process-model li a:hover, .process-model li a:focus {
  border: none;
  background: transparent;
}

.process-model li a {
  padding: 0;
  border: none;
  color: #eaeaea;
  text-decoration: none;
}

.process-model li.active,
.process-model li.visited {
  color: #eaeaea;
}

.process-model li.visited a,
.process-model li.visited a:hover {
  color: #007bff;
  text-decoration: none;
}

.process-model li.active p,
.process-model li.visited p {
  font-weight: 600;
}

.process-model li i {
  display: block;
  height: 68px;
  width: 68px;
  text-align: center;
  margin: 0 auto;
  background: #f5f6f7;
  border: 4px solid #eaeaea;
  line-height: 60px;
  font-size: 30px;
  border-radius: 50%;
}

.process-model li.active i, .process-model li.visited i {
  background: #fff;
  border-color: #e5e5e5;
}

.process-model li p {
  font-size: 14px;
  margin-top: 11px;
}

.process-model.contact-us-tab li.visited a, .process-model.contact-us-tab li.visited p {
  color: #606060 !important;
  font-weight: normal
}

.process-model.contact-us-tab li::after {
  display: none;
}

.process-model.contact-us-tab li.visited i {
  border-color: #e5e5e5;
}

.process-model li.active a i {
  color: #fff;
  background-color: #007ad9 !important;
  border-color: #0066cc !important;
}

.process-model li.active a p {
  color: #0066cc;
}
