<form name="form" #f="ngForm" autocomplete="off">
  
    <div class="form-row">
      <div class="form-group col-md-12">
        <label>Spliter Name *</label>
        <input type="text" class="form-control" pInputText maxlength="100" [(ngModel)]="selectedSpliter.spliterName" name="spliterName" #spliterName="ngModel" required />
      </div>          
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label>OLT Name *</label>
        <p-dropdown [options]="oltList" appendTo="body" [(ngModel)]="selectedOLT" placeholder="Select" name="oltname" #oltname="ngModel" optionLabel="oltName" required></p-dropdown>              
    </div>          
    </div>  
    
    <div class="form-row">
        <div class="form-group col-md-12">
          <label>Spliter Location</label>
          <input type="text" class="form-control" pInputText maxlength="50" [(ngModel)]="selectedSpliter.spliterLocation" name="spliterLocation" #spliterLocation="ngModel" required />
        </div>          
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Spliter Length</label>
          <input type="text" class="form-control" pInputText maxlength="100" [(ngModel)]="selectedSpliter.spliterLength" name="spliterLength" #spliterLength="ngModel" required />
        </div>          
      </div>
  
    <div class="form-row">
      <div class="form-group col-md-12">
        <div class="float-right">
          <button type="button" pButton icon="far fa-save" (click)="UpdateSpliter()" [disabled]="f.form.invalid" label="Update"></button>
        </div>
      </div>
    </div>
  
  
  </form>
  