
<div class="bg">

  <div class="container">
    <!-- <p class="brand-image img-circle elevation-2 mb-3" style="width: 127px; text-align: center; margin: 0 auto;"><img src="../../assets/images/logo.png" height="80" /></p> -->
    <h4 class="text-white display-4">VISION TECHNOLOGY</h4>

    <div class="wrapper">
      <div class="userIcon">
        <i class="fas fa-user fa-3x"></i>
      </div>
      <h5 class="text-white">LOGIN</h5>

      <div class="loginForm">      
        <form autocomplete="off">
  
          <div class="col-auto">
            <label class="sr-only">Username</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-user"></i></div>
              </div>
              <input type="text" class="form-control" [(ngModel)]="user.UserName" name="UserName" placeholder="username" autocomplete="off">
            </div>
          </div>
          <div class="col-auto">
            <label class="sr-only">Password</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-key"></i></div>
              </div>
              <input type="text" class="form-control pw" [(ngModel)]="user.Password" name="Password" placeholder="password" autocomplete="off">
            </div>
          </div>
          <div class=" col-auto">
            <button type="submit" class="btn btn-primary btn-block" (click)="userLogin()">LOGIN</button>
          </div>
  
        </form>
        <div class="forgot-password mt-3"><a>forgot password ?</a></div>      
      </div>

    </div>
  </div> 

<p-toast position="bottom-right"></p-toast>
</div>