* {
  box-sizing: border-box;
}
body, html {
  height: 100%;
}
body {
  color: #485e74;
  line-height: 1.6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg {
  /* The image used */
  background-image: url("../../assets/images/bg.png");
  background-color: #000;
  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 100%;
  margin: auto auto;
  text-align: center;
  padding-top: 3%;
}

.display-4{
  font-size: 35px;
}

.wrapper {
  width: 40%;
  background-color: rgba(255,255,255,0.1);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.3) !important;
  border: 10px solid rgba(255,255,255,0.1);
  border-radius: 20px;
  margin: 0px auto;
  margin-top: 5%;
}

  .wrapper > * {
    padding: .5em;
  }

  .userIcon{
    width: 110px;
    height: 110px;
    position: absolute;
    background-color: rgb(0, 102, 204);
    top: -70px;
    left: 41.5%;
    border-radius: 100%;
    color: rgba(255,255,255,0.6);
  }

  .userIcon:before{
    content: "";
    position: absolute;
    display: block;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: 10px solid rgba(0,0,0,0.2);  
    border-radius: 100%;
}

.userIcon i{
  font-size: 45px;
  margin-top: 25px;
}

.wrapper > h5{
  position: relative;
    top: 60px;
    font-weight: 100;
    letter-spacing: 5px;
    font-size: 25px;
}

.wrapper >.loginForm{
  width: 70%;
  margin: 10% auto;
}

.col-auto{
  padding: 12px !important;
}

input, button{
  height: 50px;
}

input::placeholder {
  position: relative;
  top:-3px;
  font-size:12px;
}

  /*FORMSTYLE*/

.forgot-password {
  text-align: center;
  font-size: 12px !important;
  color: #cfcfcf !important;
}

input.pw {
  -webkit-text-security: disc;
}

/*MEDIA QUERY*/

@media(max-width:1024px) {
  .wrapper {    
    width: 100% !important;  
    margin-top: 10%;
  }
  .userIcon{
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: #0066cc;
    top: -70px;
    left: 40%;
    border-radius: 100%;
    border: 10px solid rgba(0,0,0,0.2);
  }
  .userIcon i{
    font-size: 35px;
    margin-top: 10px;
  }
  .company-info h2 {
    margin-top: 33% !important;
  }
  .company-info div {
    margin: 5px 0px 0 0px;
    font-size: 11px;
  }
  .company-info {
    width: 220px;
  }
  .company-footer {
    display: block;
    width: 100%;
    height: 25px;
    background-color: #0350a2;
    margin-left: 0px !important;
    margin-top: 35% !important;
  }
    .company-footer span {
      font-size: 10px;
      position: relative;
      top: 5px;
    }
  .login-form h2 {
    text-align: center;
    margin: 0px 0px 10px;
    border-bottom: 1px solid #e6e6e6;
  }
  .login-form a {
    text-decoration: none;
    font-size: 11px;
    color: #485e74;
  }
  .loginButtonWrapper {
    width: 98%;
    margin-left: 5px;
  }
  .login-form form button {
    font-size: 13px;
    max-width: 100% !important;
    margin: 0px 10px;
  }
  .login-form .forgot-password {
    text-align: center;
    margin: 10px auto;
  }
}

@media(max-width:1152px) {
  .wrapper {    
    width: 50% !important;  
    margin-top: 7%;
  }
  .userIcon{
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: #0066cc;
    top: -70px;
    left: 41%;
    border-radius: 100%;
    border: 10px solid rgba(0,0,0,0.2);
  }
  .userIcon i{
    font-size: 35px;
    margin-top: 10px;
  }
  
}
@media(max-width:1280px) {
  .wrapper {    
    width: 50% !important;  
    margin-top: 7%;
  }
  .userIcon{
    width: 110px;
    height: 110px;
    position: absolute;
    background-color: #0066cc;
    top: -70px;
    left: 40.5%;
    border-radius: 100%;
    border: 10px solid rgba(0,0,0,0.2);
  }
  .userIcon i{
    font-size: 35px;
    margin-top: 15px;
  }
  
}

@media screen and (max-width: 1360px) and (min-width: 1300px) {
  .wrapper {    
    width: 50% !important;  
    margin-top: 7%;
  }
  .userIcon{
    width: 110px;
    height: 110px;
    position: absolute;
    background-color: #0066cc;
    top: -70px;
    left: 41%;
    border-radius: 100%;
    border: 10px solid rgba(0,0,0,0.2);
  }
  .userIcon i{
    font-size: 35px;
    margin-top: 15px;
  }
  
}

@media screen and (max-width: 1440px) and (min-width: 1400px) {
  .wrapper {    
    width: 50% !important;  
    margin-top: 7%;
  }
  .userIcon{
    width: 110px;
    height: 110px;
    position: absolute;
    background-color: #0066cc;
    top: -70px;
    left: 42%;
    border-radius: 100%;
    border: 10px solid rgba(0,0,0,0.2);
  }
  .userIcon i{
    font-size: 35px;
    margin-top: 15px;
  }
  
}

@media screen and (max-width: 1680px) and (min-width: 1600px) {
  .wrapper {    
    width: 50% !important;  
    margin-top: 7%;
  }
  .userIcon{
    width: 110px;
    height: 110px;
    position: absolute;
    background-color: #0066cc;
    top: -70px;
    left: 42.5%;
    border-radius: 100%;
    border: 10px solid rgba(0,0,0,0.2);
  }
  .userIcon i{
    font-size: 35px;
    margin-top: 15px;
  }
  
}


@media screen and (max-width: 767px) and (min-width: 320px) {
  .display-4{
    font-size: 33px;
  }
  .wrapper {    
    width: 100% !important;  
    margin-top: 25%;
  }
  .userIcon{
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: #0066cc;
    top: -70px;
    left: 32%;
    border-radius: 100%;
    border: 10px solid rgba(0,0,0,0.2);
  }
  .userIcon i{
    font-size: 35px;
    margin-top: 15px;
  }

  .wrapper > h5{
    position: relative;
      top: 35px;
      font-weight: 100;
      letter-spacing: 5px;
      font-size: 25px;
  }
  .wrapper >.loginForm{
    width: 100%;
    margin: 20px auto;
  }
  
}

@media screen and (max-width: 411px){
  .userIcon{
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: #0066cc;
    top: -70px;
    left: 36.5%;
    border-radius: 100%;
    border: 10px solid rgba(0,0,0,0.2);
  }
  .userIcon i{
    font-size: 35px;
    margin-top: 15px;
  }
}

@media screen and (max-width: 414px){
  .wrapper {    
    width: 100% !important;  
    margin-top: 17%;
  }
  .userIcon{
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: #0066cc;
    top: -70px;
    left: 36.5%;
    border-radius: 100%;
    border: 10px solid rgba(0,0,0,0.2);
  }
  .userIcon i{
    font-size: 35px;
    margin-top: 15px;
  }
}

@media screen and (max-width: 768px){
  .wrapper {    
    width: 70% !important;  
    margin-top: 10%;
  }
  .wrapper > h5{
    position: relative;
      top: 45px;
      font-weight: 100;
      letter-spacing: 5px;
      font-size: 25px;
  }
  .userIcon{
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: #0066cc;
    top: -70px;
    left: 40%;
    border-radius: 100%;
    border: 10px solid rgba(0,0,0,0.2);
  }
  .userIcon i{
    font-size: 35px;
    margin-top: 15px;
  }
}

@media screen and (max-width: 540px){
  .wrapper {    
    width: 80% !important;  
    margin-top: 17%;
  }
  .userIcon{
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: #0066cc;
    top: -70px;
    left: 36.5%;
    border-radius: 100%;
    border: 10px solid rgba(0,0,0,0.2);
  }
  .userIcon i{
    font-size: 35px;
    margin-top: 15px;
  }
}

@media screen and (max-width: 280px){
  .wrapper {    
    width: 100% !important;  
    margin-top: 25%;
  }
  .userIcon{
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: #0066cc;
    top: -70px;
    left: 30%;
    border-radius: 100%;
    border: 10px solid rgba(0,0,0,0.2);
  }
  .userIcon i{
    font-size: 35px;
    margin-top: 15px;
  }
  .wrapper > h5{
    position: relative;
      top: 35px;
      font-weight: 100;
      letter-spacing: 5px;
      font-size: 25px;
  }
  .wrapper >.loginForm{
    width: 100%;
    margin: 20px auto;
  }
}




