<form name="form" #f="ngForm" autocomplete="off">
  
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Inward Date *</label>
        <p-calendar [(ngModel)]="itemInward.inwardDate" placeholder="DD-MM-YYYY" name="inwardDate"
        dateFormat="dd/M/yy" #inwardDate="ngModel" [showIcon]="true" required="required"></p-calendar>
      </div>       

      <div class="form-group col-md-6">
        <label>Party Name *</label>
        <p-dropdown [options]="partyList" appendTo="body" [(ngModel)]="selectedParty" placeholder="Select" name="partyname" #partyname="ngModel" optionLabel="partyName" required="true"></p-dropdown>
        <input hidden="hidden" type="text" pInputText  class="form-control" [(ngModel)]="selectedParty" name="PartyName" #PartyName="ngModel" required="true" />
      </div>
    </div>

    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Item Details</legend>
        <form name="form" #item="ngForm" autocomplete="off">
        <div class="form-row">
            <div class="form-group col-md-1">
              <label>Sr. No. </label>
              <input type="text" readonly class="form-control" pInputText maxlength="14" (keypress)="onlyNumberKey($event)" [(ngModel)]="itemInwardDetail.srNo" name="srNo" #srNo="ngModel" required />
            </div> 
            <div class="form-group col-md-3">
              <label>Company Name </label>
              <p-dropdown [options]="companyList" appendTo="body" [(ngModel)]="selectedCompany" placeholder="Select" name="companyname" #companyname="ngModel" optionLabel="companyName" required></p-dropdown>
              <input hidden="hidden" type="text" pInputText  class="form-control" [(ngModel)]="selectedCompany" name="CompanyName" #CompanyName="ngModel" required />
            </div> 
            <div class="form-group col-md-3">
              <label>Product Name</label>
              <p-dropdown [options]="productList" appendTo="body" [(ngModel)]="selectedProduct" placeholder="Select" name="productname" #productname="ngModel" optionLabel="productName" required></p-dropdown>
              <input hidden="hidden" type="text" pInputText  class="form-control" [(ngModel)]="selectedProduct" name="ProductName" #ProductName="ngModel" required />
            </div>
            <div class="form-group col-md-2">
              <label>Rate</label>
              <input type="text" class="form-control" pInputText maxlength="14" (keypress)="onlyNumberKey($event)" [(ngModel)]="itemInwardDetail.rate" name="rate" #rate="ngModel" required />
            </div> 
            <div class="form-group col-md-1">
              <label>Qty</label>
              <input type="text" class="form-control" pInputText maxlength="14" (keypress)="onlyNumberKey($event)" [(ngModel)]="itemInwardDetail.qty" name="qty" #qty="ngModel" required />
            </div> 
            <div class="form-group col-md-1">
              <label>GST</label>
              <input type="text" class="form-control" pInputText maxlength="14" (keypress)="onlyNumberKey($event)" [(ngModel)]="itemInwardDetail.GST" name="GST" #GST="ngModel" required />
            </div>  
             <div class="form-group col-md-1 mt-4 pt-1 text-center">
                <button type="button" pButton icon="fas fa-plus" (click)="addItem()" [disabled]="item.form.invalid" ></button>
            </div>               
          </div>  
        </form>        
    </fieldset>

      

    <div class="form-row">
      <div class="form-group col-md-12" *ngIf="displayList">
        <table class="table table-striped">
            <thead>
            <tr>
            <th>Sr.No.</th>
            <th>Company Name</th>
            <th>Product Name</th>
            <th>Rate</th>
            <th>Qty</th>
            <th>GST</th>
            <th>Total</th>
            <th></th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of itemInwardDetailList">
                    <td>{{item.srNo}}</td>
                    <td>{{item.companyName}}</td>
                    <td>{{item.productName}}</td>
                    <td>{{item.rate}}</td>
                    <td>{{item.qty}}</td>
                    <td>{{item.GST}}%</td>
                    <td>{{item.total}}</td>
                    <td><i class="fas fa-minus-circle text-danger" (click)="removeItem(item.srNo)"></i></td>
                </tr>                
            </tbody>
        </table>
      </div>          
    </div>      
  
    <div class="form-row">
      <div class="form-group col-md-12">
        <div class="float-right">
          <button type="button" pButton icon="far fa-save" (click)="AddInward()" [disabled]="f.form.invalid" label="Save"></button>
        </div>
      </div>
    </div>
  
  
  </form>
  