
    :host ::ng-deep .ui-calendar {
      width: 100% !important;
    }
    
        :host ::ng-deep .ui-calendar.ui-calendar-w-btn .ui-inputtext {
          width: 85% !important;
        }
        
        body .ui-inputtext.ng-dirty.ng-invalid {
          border: 1px solid #a6a6a6;
      }
          fieldset.scheduler-border {
              border: 1px groove #ddd !important;
              padding: 0 1.4em 1.4em 1.4em !important;
              margin: 0 0 1.5em 0 !important;
              -webkit-box-shadow:  0px 0px 0px 0px #000;
                      box-shadow:  0px 0px 0px 0px #000;
          }
          
              legend.scheduler-border {
                  font-size: 1.2em !important;
                  font-weight: bold !important;
                  text-align: left !important;
                  width:auto;
                  padding:0 10px;
                  border-bottom:none;
              }