<form name="form" #f="ngForm" autocomplete="off">

    <div class="form-row">
      <div class="form-group col-md-12">
        <label>Designation Name *</label>
        <input type="text" class="form-control" pInputText maxlength="100" [(ngModel)]="designation.designationName" name="designationName" #designationName="ngModel" required />
      </div>          
      </div>      

  <div class="form-row">
    <div class="form-group col-md-12">
      <div class="float-right">
        <button type="button" pButton icon="far fa-save" (click)="SaveDesignation()" [disabled]="f.form.invalid" label="Save"></button>
      </div>
    </div>
  </div>


</form>
