<div class="container-fluid mt-3">

  <nav class="navbar navbar-expand-lg navbar-light bg-light1">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['../admin']"><i class="fa fa-home"></i></a>
        </li>
        <li class="divider"></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"><img src="assets/submenu/master.png" class="mr-2">Master</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" [routerLink]="['unit']">Unit</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['product']">Product / Item</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['party']">Dealer / Supplier</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['company']">Company</a>
            </li>
            <li>
              <li>
                <a class="dropdown-item" [routerLink]="['modelMapping']">Modem Model No.</a>
              </li>
              <li>
              <a class="dropdown-item" [routerLink]="['modem']">Modem</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['plan']">Plan</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['olt']">OLT</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['spliter']">Spliter</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['designation']">Designation</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"><i class="fas fa-map-marker mr-2"></i>Location</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" [routerLink]="['country']">Country</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['state']">State</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['district']">District</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['city']">City / Locality</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['area']">Area / Sub Locality</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"><i class="fas fa-box-open mr-2"></i>Transaction</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" [routerLink]="['inward']">Inward Item</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['outward']">Outward Item</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['customerUsedMaterial']">Customer Used Material</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="container-fluid mt-4 pl-3">
  <router-outlet></router-outlet>
</div>
