<form name="form" #f="ngForm" autocomplete="off">

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Company Name </label>
            <p-dropdown [options]="companyList" appendTo="body" [(ngModel)]="selectedCompany" placeholder="Select"
                name="companyname" #companyname="ngModel" optionLabel="companyName" required></p-dropdown>
            <input hidden="hidden" type="text" pInputText class="form-control" [(ngModel)]="selectedCompany"
                name="CompanyName" #CompanyName="ngModel" required />
        </div>
        <div class="form-group col-md-6">
            <label>OLT Name</label>
            <input type="text" class="form-control" pInputText maxlength="100"
                [(ngModel)]="selectedOLT.oltName " name="oltName" #oltName="ngModel"
                required />
        </div>
    </div>  

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Model No. </label>
            <input type="text" class="form-control" pInputText maxlength="100"
                [(ngModel)]="selectedOLT.modelNo" name="modelNo" #modelNo="ngModel"
                required />
        </div>
        <div class="form-group col-md-6">
            <label>Sno. </label>
            <input type="text" class="form-control" pInputText maxlength="100"
                [(ngModel)]="selectedOLT.sno" name="sno" #sno="ngModel"
                required />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Location </label>
            <input type="text" class="form-control" pInputText maxlength="100"
                [(ngModel)]="selectedOLT.location" name="location" #location="ngModel"
                required />
        </div>
        <div class="form-group col-md-4">
            <label>IP Address </label>
            <input type="text" class="form-control" pInputText maxlength="100"
                [(ngModel)]="selectedOLT.ipAddress" name="ipAddress" #ipAddress="ngModel"
                required />
        </div>
        <div class="form-group col-md-4">
            <label>MAC Address </label>
            <input type="text" class="form-control" pInputText maxlength="100"
                [(ngModel)]="selectedOLT.macAddress" name="macAddress" #macAddress="ngModel"
                required />
        </div>        
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <div class="float-right">
                <button type="button" pButton icon="far fa-save" (click)="UpdateOLT()" [disabled]="f.form.invalid"
                    label="Update"></button>
            </div>
        </div>
    </div>


</form>