<form name="form" #f="ngForm" autocomplete="off">

    <div class="form-row">        
        <div class="form-group col-md-6">
            <label>Customer Name *</label>
            <input type="text" class="form-control" pInputText value="{{customerName}}" required readonly />
        </div>  
        <div class="form-group col-md-6">
            <label>Phone No. *</label>
            <input type="text" class="form-control" pInputText maxlength="100" [(ngModel)]="idGenerate.phoneNo"
                name="phoneNo" #phoneNo="ngModel" required />
        </div>        
    </div>

    <div class="form-row">        
        <div class="form-group col-md-6">
            <label>Order No.  *</label>
            <input type="text" class="form-control" pInputText maxlength="100" [(ngModel)]="idGenerate.orderNo"
                name="phoneNo" #phoneNo="ngModel" required />
        </div>  
        <div class="form-group col-md-6">
            <label> VLan No. *</label>
            <input type="text" class="form-control" pInputText maxlength="100" [(ngModel)]="idGenerate.vLanNo"
                name="phoneNo" #phoneNo="ngModel" required />
        </div>        
    </div>

    <div class="form-row">    
        <div class="form-group col-md-6">
            <label>OLT</label>
            <p-dropdown [options]="oltList" appendTo="body" [(ngModel)]="selectedOlt" placeholder="Select" name="oltname" 
            (onChange)="onOLTChange($event.value.oltId)" #oltname="ngModel" optionLabel="oltName" required></p-dropdown>
            <input hidden="hidden" type="text" pInputText class="form-control" [(ngModel)]="selectedOlt"
                name="oltName" #oltName="ngModel" required />    
        </div>      

        <div class="form-group col-md-6">
            <label>Spliter</label>
            <p-dropdown [options]="spliterList" appendTo="body" [disabled]="enableSpliter" [(ngModel)]="selectedSpliter" placeholder="Select" name="splitername" 
            #splitername="ngModel" optionLabel="spliterName" required></p-dropdown>
            <input hidden="hidden" type="text" pInputText class="form-control" [(ngModel)]="selectedSpliter"
                name="spliterName" #spliterName="ngModel" required />
        </div>                     
    </div>  

    <div class="form-row">        
        <div class="form-group col-md-6">
            <label>PONS No.  *</label>
            <input type="text" class="form-control" pInputText maxlength="100" [(ngModel)]="idGenerate.ponsNo"
                name="ponsNo" #ponsNo="ngModel" required />
        </div>  
        <div class="form-group col-md-6">
            <label> Assign Date  *</label>
            <p-calendar [(ngModel)]="idGenerate.assignDate" placeholder="DD-MM-YYYY" name="assignDate"
            dateFormat="dd/M/yy" #assignDate="ngModel" [showIcon]="true" required="required"></p-calendar>
        </div>        
    </div>  
    
    <div class="form-row">        
        <div class="form-group col-md-6">
            <label>Fiber No.  *</label>
            <input type="text" class="form-control" pInputText maxlength="100" [(ngModel)]="idGenerate.fiberNo"
                name="fiberNo" #fiberNo="ngModel" required />
        </div>  
        <div class="form-group col-md-6">
            <label> Frame No. *</label>
            <input type="text" class="form-control" pInputText maxlength="100" [(ngModel)]="idGenerate.frameNo"
                name="frameNo" #frameNo="ngModel" required />
        </div>        
    </div>

    <div class="form-row">        
        <div class="form-group col-md-6">
            <label>Assign IP Address </label>
            <input type="text" class="form-control" pInputText maxlength="100" [(ngModel)]="idGenerate.assignIpAddress"
                name="assignIpAddress" #assignIpAddress="ngModel" />
        </div>  
        <div class="form-group col-md-6">
            <label> OLT Port No. </label>
            <input type="text" class="form-control" pInputText maxlength="100" [(ngModel)]="idGenerate.oltPortNo"
                name="oltPortNo" #oltPortNo="ngModel" />
        </div>        
    </div>

    <div class="form-row">        
        <div class="form-group col-md-12">
            <label>Ont Type  </label>
            <p-dropdown [options]="ontTypeList" appendTo="body" [(ngModel)]="selectedOntType" placeholder="Select" name="ontname" 
            #ontname="ngModel" optionLabel="value" required></p-dropdown>
            <input hidden="hidden" type="text" pInputText class="form-control" [(ngModel)]="selectedOntType"
                name="ontType" #ontType="ngModel" required />
        </div>               
    </div>
    

    <div class="form-row">
        <div class="form-group col-md-12">
            <div class="float-right">
                <button type="button" pButton icon="far fa-save" (click)="SaveIDGenerateCustomer()" [disabled]="f.form.invalid"
                    label="Save"></button>
            </div>
        </div>
    </div>

</form>