<div class="container-fluid" id="tblData">
    <div class="row">
        <div class="col-sm-12">
            <h5 class="mt-3 pb-3">Customer Detail <i class="fa fa-file-excel float-right" title="Download Excel" (click)="exportToExcel('tblData', 'report')"></i></h5>            
        </div>
    </div>
    <div class="row">
        <table class="table table-striped border">
            <tr>
                <th>Customer Type</th>
                <th>Usage Code</th>
                <th>Title</th>
                <th>Customer Name</th>
                <th>Mobile No.</th>
                <th>EmailId</th>
                <th>Address</th>
                <th>Country Name</th>
                <th>State Name</th>
                <th>District Name</th>                
                <th>Register Date</th>
            </tr>
            <tr *ngFor="let report of CustomerReportDetail">
                <td>{{report.customerType}}</td>        
                <td>{{report.usageCode}}</td>        
                <td>{{report.title}}</td>        
                <td>{{report.firstName}}</td>        
                <td>{{report.mobileNo1}}</td>        
                <td>{{report.emailId}}</td>        
                <td>{{report.fullAddress}}</td>        
                <td>{{report.countryName}}</td>        
                <td>{{report.stateName}}</td>        
                <td>{{report.districtName}}</td>    
                <td>{{report.registerDate | date:'dd-MMM-yyyy'}}</td>        
            </tr>
        </table>
    </div>    
    <div class="row">
        <div class="col-sm-12">
            <h5 class="mt-3 pb-3">Servey Detail</h5>
        </div>        
    </div>
    <div class="row">
        <table class="table table-striped border">
            <tr>
                <th>Employee Name </th>
                <th>Servey Comment </th>
                <th>Servey Date </th>
                <th>Servey Status </th>
            </tr>
            <tr *ngFor="let report of CustomerReportDetail">
                <td>{{report.employeeName}}</td>        
                <td>{{report.serveyComment}}</td>        
                <td>{{report.serveyDate | date:'dd-MMM-yyyy'}}</td>
                <td>{{report.serveyStatus}}</td> 
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h5 class="mt-3 pb-3">Form Process Detail</h5>
        </div> 
    </div>
    <div class="row">
        <table class="table table-striped border">
            <tr>
                <th>FormProcess Date  </th>
                <th>Form Process Status  </th>
            </tr>
            <tr *ngFor="let report of CustomerReportDetail">
                <td>{{report.formProcessDate | date:'dd-MMM-yyyy'}}</td>
                <td>{{report.formProcessStatus}}</td>        
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h5 class="mt-3 pb-3">ID Generate Detail</h5>
        </div> 
    </div>
    <div class="row">
        <table class="table table-striped border">
            <tr>
                <th>Phone No. </th>
                <th>Order No. </th>
                <th>VLan No. </th>
                <th>OLT Name </th>
                <th>Spliter Name </th>
                <th>PONS No. </th>
                <th>Assign Date </th>
                <th>Fiber No. </th>
                <th>Frame No. </th>
                <th>Assign IP Address </th>                
                <th>Olt Port No. </th>
                <th>Ont Type  </th>
                <th>Technical Status  </th>
            </tr>
            <tr *ngFor="let report of CustomerReportDetail">
                <td>{{report.phoneNo}}</td>        
                <td>{{report.orderNo}}</td>        
                <td>{{report.vLanNo}}</td>        
                <td>{{report.oltName}}</td>        
                <td>{{report.spliterName}}</td>        
                <td>{{report.ponsNo}}</td>        
                <td>{{report.assignDate | date:'dd-MMM-yyyy'}}</td>        
                <td>{{report.fiberNo}}</td>        
                <td>{{report.frameNo}}</td>        
                <td>{{report.assignIpAddress}}</td>        
                <td>{{report.oltPortNo}}</td>    
                <td>{{report.ontType}}</td>    
                <td>{{report.technicalStatus}}</td>    
            </tr>
        </table>
    </div>    
</div>