<form name="form" #f="ngForm" autocomplete="off">
  
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Outward Date *</label>        
        <p-calendar [(ngModel)]="selectedItemOutward.outwardDate" placeholder="DD-MM-YYYY" name="outwardDate"
        dateFormat="dd/M/yy" #outwardDate="ngModel" [showIcon]="true" required="required"></p-calendar>
      </div>       

      <div class="form-group col-md-6">
        <label>Employee Name *</label>
        <p-dropdown [options]="employeeList" appendTo="body" [(ngModel)]="selectedEmployee" placeholder="Select" name="employeename" #employeename="ngModel" optionLabel="employeeName" required="true"></p-dropdown>        
      </div>
    </div>

    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Item Details</legend>
        <form name="form" #item="ngForm" autocomplete="off">
        <div class="form-row">
            <div class="form-group col-md-1">
              <label>Sr. No. </label>
              <input type="text" readonly class="form-control" pInputText maxlength="14" (keypress)="onlyNumberKey($event)" [(ngModel)]="itemOutwardDetail.srNo" name="srNo" #srNo="ngModel" required />
            </div> 
            <div class="form-group col-md-3">
              <label>Company Name </label>
              <p-dropdown [options]="companyList" appendTo="body" (onChange)="onCompanyChange($event.value.companyId)" [(ngModel)]="selectedCompany" placeholder="Select" name="companyname" #companyname="ngModel" optionLabel="companyName" required></p-dropdown>
              <input hidden="hidden" type="text" pInputText  class="form-control" [(ngModel)]="selectedCompany" name="CompanyName" #CompanyName="ngModel" required />
            </div> 
            <div class="form-group col-md-3">
              <label>Product Name</label>
              <p-dropdown [options]="productList" appendTo="body" (onChange)="getAvailableQty($event.value.productId)" [disabled]="disableProduct" [(ngModel)]="selectedProduct" placeholder="Select" name="productname" #productname="ngModel" optionLabel="productName" required></p-dropdown>
              <input hidden="hidden" type="text" pInputText  class="form-control" [(ngModel)]="selectedProduct" name="ProductName" #ProductName="ngModel" required />
            </div>   
            <div class="form-group col-md-2">
              <label>Available Qty. </label>
              <input type="text" class="form-control" pInputText maxlength="14" [value]="avaialbeQty" disabled />
            </div>
            <div class="form-group col-md-2">
              <label>Required Qty. </label>
              <input type="text" class="form-control" pInputText maxlength="14"  [(ngModel)]="itemOutwardDetail.qty" name="qty" #qty="ngModel" required />
            </div>           
             <div class="form-group col-md-1 mt-4 pt-1 text-center">
                <button type="button" pButton icon="fas fa-plus" (click)="addItem()" [disabled]="item.form.invalid" ></button>
            </div>               
          </div>  
        </form>        
    </fieldset>

      

    <div class="form-row">
      <div class="form-group col-md-12">
        <table class="table table-striped">
            <thead>
            <tr>
            <th>Sr.No.</th>
            <th>Company Name</th>
            <th>Product Name</th>
            <th>Qty.</th>
            <th></th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of selectedIItemOutwardDetailList">
                    <td>{{item.srNo}}</td>
                    <td>{{item.companyName}}</td>
                    <td>{{item.productname}} {{item.productName}}</td>
                    <td>{{item.qty}}</td>
                    <td><i class="fas fa-minus-circle text-danger" (click)="removeItem(item.srNo)"></i></td>
                </tr>                
            </tbody>
        </table>
      </div>          
    </div>      
  
    <div class="form-row">
      <div class="form-group col-md-12">
        <div class="float-right">
          <button type="button" pButton icon="far fa-save" (click)="UpdateOutward()" [disabled]="f.form.invalid" label="Update"></button>
        </div>
      </div>
    </div>
  
  
  </form>
  