<form name="form" #f="ngForm" autocomplete="off">
  
  <div class="form-row">
    <div class="form-group col-md-12">
      <label>District Name *</label>
      <p-dropdown [options]="districtList" appendTo="body" [(ngModel)]="selectedDistrict" placeholder="Select" name="districtname" #districtname="ngModel" optionLabel="districtName" required></p-dropdown>
    <input hidden="hidden" type="text" pInputText  class="form-control" [(ngModel)]="selectedDistrict" name="districtName" #districtName="ngModel" required />
    </div>          
  </div>  

    <div class="form-row">
      <div class="form-group col-md-12">
        <label>City Name *</label>
        <input type="text" class="form-control" pInputText maxlength="100" [(ngModel)]="city.cityName" name="cityName" #cityName="ngModel" required />
      </div>          
      </div>     
      
  
    <div class="form-row">
      <div class="form-group col-md-12">
        <div class="float-right">
          <button type="button" pButton icon="far fa-save" (click)="SaveCity()" [disabled]="f.form.invalid" label="Save"></button>
        </div>
      </div>
    </div>
  
  
  </form>
  