* {
  outline: none !important;
  box-shadow: none !important;
}

/*aside nav bar color*/
.layout-navbar-fixed .wrapper .sidebar-dark-primary .brand-link:not([class*="navbar"]) {
  background-color: #343a40 !important;
}
.layout-navbar-fixed .wrapper .sidebar-dark-primary .brand-link:not([class*="navbar"]) {
  background-color: #fff;
}

/*Module Inner Navigation CSS*/
.navbar-expand-lg{
  background-color: transparent;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    height:50px;
}

.divider {
  margin-top: 10px;
  background-color: #b9b9b9;
  height: 20px;
  width: 1px;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #ccc;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.dropdown-item:hover {
  color: #000 !important;
  background-color: #f1f1f1;
}

body .ui-dropdown .ui-dropdown-label {  
  //width: 150px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
}

@media screen and (max-width: 600px) {
  .bg-light1 {
    background-color: #fff !important;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    color: #fff;
    height: 60px;
    z-index: 9;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    margin-bottom: 0;
    list-style: none;
    background-color: #fff;
    border-radius: 5px;
  }
}


.toaster{
  margin-top: 80px;
}


/*PRIMENG OVERWRITTEN CSS*/
/*Record count on grid*/
body .ui-paginator .ui-paginator-current {
  float: left !important;
  font-weight: bold !important;
  top: 3px !important;
}
body .ui-paginator .ui-dropdown{
  top:-30px !important;
  float: right !important;
}
.ui-table .ui-paginator-bottom {
  border-top: 0 none;
  height: 36px !important;
}
body .ui-dropdown, body .ui-multiselect {
  min-width: 100%;
}
p-dropdown {
  width: 100% !important;
  display: block;
}
body .ui-button.ui-state-default.ui-button-success, body .ui-buttonset.ui-button-success > .ui-button.ui-state-default {
  background-color: #0066cc;
  border: 1px solid #0066cc;
}
body .ui-table .ui-table-tbody > tr > td{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

body .ui-table .ui-table-thead > tr > th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}
