<form name="form" #f="ngForm" autocomplete="off">
  
    <div class="form-row">
      <div class="form-group col-md-12">
        <label>Party Name *</label>
        <input type="text" class="form-control" pInputText maxlength="100" [(ngModel)]="selectedParty.partyName" name="partyName" #partyName="ngModel" required />
      </div>
    </div>
      <div class="form-row">
      <div class="form-group col-md-12">
        <label>Mobile No. *</label>
        <input type="text" class="form-control" pInputText maxlength="14"(keypress)="onlyNumberKey($event)" [(ngModel)]="selectedParty.mobileNo" name="mobileNo" #mobileNo="ngModel" required />
      </div>
    </div>
      <div class="form-row">
      <div class="form-group col-md-12">
        <label>Email ID *</label>
        <input type="text" class="form-control" pInputText maxlength="100" [(ngModel)]="selectedParty.emailAddress" name="emailAddress" #emailAddress="ngModel" />
      </div>               
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label>Address </label>
      <textarea type="text" class="form-control" pInputTextarea maxlength="4000" [(ngModel)]="selectedParty.partyAddress" name="partyAddress" #partyAddress="ngModel"></textarea>
      </div>          
    </div>      
  
    <div class="form-row">
      <div class="form-group col-md-12">
        <div class="float-right">
          <button type="button" pButton icon="far fa-save" (click)="UpdateParty()" [disabled]="f.form.invalid" label="Update"></button>
        </div>
      </div>
    </div>
  
  
  </form>
  