<form name="form" #f="ngForm" autocomplete="off">
  
    <div class="form-row">
      <div class="form-group col-md-12">
        <label>Company Name *</label>
        <input type="text" class="form-control" pInputText maxlength="10" [(ngModel)]="company.companyName" name="companyName" #companyName="ngModel" required />
      </div>          
      </div>
      
  
    <div class="form-row">
      <div class="form-group col-md-12">
        <div class="float-right">
          <button type="button" pButton icon="far fa-save" (click)="SaveCompany()" [disabled]="f.form.invalid" label="Save"></button>
        </div>
      </div>
    </div>
  
  
  </form>
  