<div class="container-fluid mt-2">
    <p-table #dt [columns]="columns" [value]="customerReportList" [rowHover]="true" [scrollable]="true" scrollHeight="600px"
      [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true" [loading]="loading"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records" [filterDelay]="0" selectionMode="single">
  
  
    <ng-template pTemplate="caption">
      <table>
        <tr>
          <td>
            <div class="text-left"> Customer Report </div>
          </td>
          <td>
            <div class="float-right">
              <i class="fa fa-search mr-2"></i>
              <input type="text" pInputText size="50" placeholder="Global Filter" class="m-2" (input)="dt.filterGlobal($event.target.value, 'contains')">
              <!-- <button type="button" pButton icon="fa fa-plus" (click)="AddDialog()" label="Add"></button> -->
            </div>
          </td>
        </tr>
      </table>
    </ng-template>
  
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          <span *ngIf="col.header != ''">{{col.header}}<p-sortIcon [field]="col.field"></p-sortIcon></span>
        </th>
      </tr>
    </ng-template>
  
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr (dblclick)="customerSelect(rowData)" [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">          
          <span *ngIf="col.header != '' && col.header != 'Register Date'">{{rowData[col.field]}}</span>
          <span *ngIf="col.header === 'Register Date'">{{rowData[col.field] | date:"dd-MMM-yyyy" }}</span>
        </td>
      </tr>
    </ng-template>
    
  
  
  </p-table>
  
  
  <p-toast class="toaster" position="bottom-right"> </p-toast>
  
  
  <p-confirmDialog></p-confirmDialog>
  
  </div>