<form name="form" #f="ngForm" autocomplete="off">

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Employee Name *</label>
            <input type="text" class="form-control" pInputText maxlength="100" [(ngModel)]="employee.employeeName"
                name="employeeName" #employeeName="ngModel" required />
        </div>
        <div class="form-group col-md-6">
            <label>Mobile No. *</label>
            <input type="text" class="form-control" pInputText maxlength="12" [(ngModel)]="employee.mobileNo"
            (keypress)="onlyNumberKey($event)" name="mobileNo" #mobileNo="ngModel" required />
        </div>
        
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Email ID *</label>
            <input type="text" class="form-control" pInputText maxlength="100" [(ngModel)]="employee.emailId"
                name="emailId" #emailId="ngModel" required />
        </div> 

        <div class="form-group col-md-4">
            <label>Aadhar No. *</label>
            <input type="text" class="form-control" pInputText maxlength="12" [(ngModel)]="employee.aadharNo"            
            (keypress)="onlyNumberKey($event)" name="aadharNo" #aadharNo="ngModel" required />
        </div>

        <div class="form-group col-md-4">
            <label>Employee Designation</label>
            <p-dropdown [options]="designationList" appendTo="body" [(ngModel)]="selectedDesignation" placeholder="Select" name="designationname" 
            #designationname="ngModel" optionLabel="designationName" required></p-dropdown>
            <input hidden="hidden" type="text" pInputText class="form-control" [(ngModel)]="selectedDesignation"
                name="designationName" #designationName="ngModel" required />
        </div> 
               
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label>Address *</label>
            <textarea type="text" class="form-control" rows="2" maxlength="4000" pInputTextarea [(ngModel)]="employee.employeeAddress"
                name="employeeAddress" #employeeAddress="ngModel"></textarea>
        </div>
    </div>

    


    <div class="form-row">
        <div class="form-group col-md-12">
            <div class="float-right">
                <button type="button" pButton icon="far fa-save" (click)="SaveEmployee()" [disabled]="f.form.invalid"
                    label="Save"></button>
            </div>
        </div>
    </div>


</form>