.main-sidebar{
  z-index:99 !important;
}

.Logo {
  opacity: .9;
}

.brand-text {
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

[class*='sidebar-dark'] .brand-link {
  border-bottom: 1px solid #848484;
  color: rgba(255, 255, 255, 0.8);  
}

.sidebar {
  padding: 0px
}

.sidebar ul li a {
  text-align: left;
  color: #fff;
  border-bottom: 1px solid #1670cc;
}

.sidebar ul li a p {
  padding-top: 4px;
  font-size: 15px;  
}

.sidebar ul li img {
  float: left;
  padding: 0px 15px 0 0;
  filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);
}
.sidebar ul li i {
  padding-right:25px;
  padding-left:8px;

}

.sidebar ul li a.active {
  color: #fff;
  background-color: #007bff;
  padding-left: 10px;
}

.sidebar ul li a.active img {
  filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%) !important;
}

