<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a class="brand-link">
    <img src="assets/images/logo.png" alt="Logo" height="128px" class="brand-image img-circle elevation-3" />    
    <span class="brand-text">      
      <strong>Vision Technology</strong>
    </span>
  </a>
  
  <div class="sidebar">   
    <nav>
      <ul class="nav nav-sidebar flex-column">
        <li class="nav-item">
          <a [routerLink]="['dashboard']" class="nav-link" routerLinkActive="active">
            <i class="fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['admin']" class="nav-link" routerLinkActive="active">
            <img src="assets/images/admin.png" alt="Administrator" />
            <p>
              Administrator
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['customers']" class="nav-link" routerLinkActive="active">
            <i class="fas fa-users"></i>
            <p>
              Customers
            </p>
          </a>
        </li>        
        <!-- <li class="nav-item">
          <a [routerLink]="['stock']" class="nav-link" routerLinkActive="active">
            <i class="fas fa-layer-group"></i>
            <p>
              Stock
            </p>
          </a>
        </li> -->
        <li class="nav-item">
          <a [routerLink]="['employees']" class="nav-link" routerLinkActive="active">            
            <i class="fas fa-user-tie"></i>
            <p>
              Employees
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['reports']" class="nav-link" routerLinkActive="active">
            <i class="far fa-file-alt"></i>
            <p>
              Reports
            </p>
          </a>
        </li>        
      </ul>
    </nav>
  </div>
</aside>
