<form name="form" #f="ngForm" autocomplete="off">
  
  <div class="form-row">
    <div class="form-group col-md-12">
      <label>Name *</label>
      <input type="text" class="form-control" pInputText maxlength="10" [(ngModel)]="selectedUnit.unitName" name="unitName" #unitName="ngModel" required />
    </div>          
    </div>
    

  <div class="form-row">
    <div class="form-group col-md-12">
      <div class="float-right">
        <button type="button" pButton icon="far fa-save" (click)="UpdateUnit()" [disabled]="f.form.invalid" label="Update"></button>
      </div>
    </div>
  </div>


</form>
