<form name="form" #f="ngForm" autocomplete="off">

    <div class="form-row">        
        <div class="form-group col-md-4">
            <label>Customer Type*</label>
            <p-dropdown [options]="customerTypeList" appendTo="body" [(ngModel)]="selectedCustomerType" placeholder="Select" name="customertype" 
            #customertype="ngModel" optionLabel="customerType" required></p-dropdown>
            <input hidden="hidden" type="text" pInputText class="form-control" [(ngModel)]="selectedCustomerType"
                name="customerType" #customerType="ngModel" required />
        </div>  
        <div class="form-group col-md-4">
            <label>Usage Code</label>
            <p-dropdown [options]="usageCodeList" appendTo="body" [(ngModel)]="selectedUsageCode" placeholder="Select" name="usagecode" 
            #usagecode="ngModel" optionLabel="usageCode" required></p-dropdown>
            <input hidden="hidden" type="text" pInputText class="form-control" [(ngModel)]="selectedUsageCode"
                name="usageCode" #usageCode="ngModel" required />
        </div>
        <div class="form-group col-md-4">
            <label>Title</label>
            <p-dropdown [options]="titleList" appendTo="body" [(ngModel)]="selectedTitle" placeholder="Select" name="title" 
            #title="ngModel" optionLabel="title" required></p-dropdown>
            <input hidden="hidden" type="text" pInputText class="form-control" [(ngModel)]="selectedTitle"
                name="Title" #Title="ngModel" required />
        </div>      
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label>First Name *</label>
            <input type="text" class="form-control" pInputText maxlength="100" [(ngModel)]="customer.firstName"
                name="firstName" #firstName="ngModel" required />
        </div>
        <div class="form-group col-md-4">
            <label>Middle Name *</label>
            <input type="text" class="form-control" pInputText maxlength="100" [(ngModel)]="customer.middleName"
                name="middleName" #middleName="ngModel" />
        </div>
        <div class="form-group col-md-4">
            <label>Last Name *</label>
            <input type="text" class="form-control" pInputText maxlength="100" [(ngModel)]="customer.lastName"
                name="lastName" #lastName="ngModel" required />
        </div>
    </div>

    <div class="form-row">        
        <div class="form-group col-md-6">
            <label>Mobile No. *</label>
            <input type="text" class="form-control" pInputText maxlength="12" [(ngModel)]="customer.mobileNo1"
            (keypress)="onlyNumberKey($event)" name="mobileNo1" #mobileNo1="ngModel" required />
        </div>  
        <div class="form-group col-md-6">
            <label>Email ID *</label>
            <input type="text" class="form-control" pInputText maxlength="100" [(ngModel)]="customer.emailId"
                name="emailId" #emailId="ngModel" required />
        </div>              
    </div>      

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Country Name *</label>
            <p-dropdown [options]="countryList" appendTo="body" [(ngModel)]="selectedCountry" placeholder="Select" name="countryname" 
            (onChange)="onCountryChange($event.value.countryId)" #countryname="ngModel" optionLabel="countryName" required></p-dropdown>
            <input hidden="hidden" type="text" pInputText class="form-control" [(ngModel)]="selectedCountry"
                name="countryName" #countryName="ngModel" required />
        </div>
        <div class="form-group col-md-6">
            <label>State Name *</label>
            <p-dropdown [options]="stateList" appendTo="body" [disabled]="disableState" [(ngModel)]="selectedState" placeholder="Select"
            (onChange)="onStateChange($event.value.stateId)"  name="statename" #statename="ngModel" optionLabel="stateName" required></p-dropdown>
            <input hidden="hidden" type="text" pInputText class="form-control" [(ngModel)]="selectedState"
                name="stateName" #stateName="ngModel" required />
        </div>               
    </div>   
    
    <div class="form-row">        
        <div class="form-group col-md-6">
            <label>District Name *</label>
            <p-dropdown [options]="districtList" appendTo="body" [disabled]="disableDistrict" [(ngModel)]="selectedDistrict" placeholder="Select"
            (onChange)="onDistrictChange($event.value.districtId)" name="districtname" #districtname="ngModel" optionLabel="districtName" required></p-dropdown>
            <input hidden="hidden" type="text" pInputText class="form-control" [(ngModel)]="selectedDistrict"
                name="districtName" #districtName="ngModel" required />
        </div>
        <div class="form-group col-md-6">
            <label>City Name *</label>
            <p-dropdown [options]="cityList" appendTo="body" [disabled]="disableCity" [(ngModel)]="selectedCity" placeholder="Select"
            (onChange)="onCityChange($event.value.cityId)" name="cityname" #cityname="ngModel" optionLabel="cityName" required></p-dropdown>
            <input hidden="hidden" type="text" pInputText class="form-control" [(ngModel)]="selectedCity"
                name="cityName" #cityName="ngModel" required />
        </div>        
    </div>   

    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Area Name *</label>
            <p-dropdown [options]="areaList" appendTo="body" [disabled]="disableArea" [(ngModel)]="selectedArea" placeholder="Select"
            name="areaname" #areaname="ngModel" optionLabel="areaName" required></p-dropdown>
            <input hidden="hidden" type="text" pInputText class="form-control" [(ngModel)]="selectedArea"
                name="areaName" #areaName="ngModel" required />
        </div>
        <div class="form-group col-md-4">
            <label>Booked Date *</label>
            <p-calendar [(ngModel)]="customer.registerDate" placeholder="DD-MM-YYYY" name="registerDate"
            dateFormat="dd/M/yy" #registerDate="ngModel" [showIcon]="true" required="required"></p-calendar>
          </div>
          <div class="form-group col-md-4">
            <label>Entry Date *</label>
            <p-calendar [(ngModel)]="customer.entryDate" placeholder="DD-MM-YYYY" name="entryDate"
            dateFormat="dd/M/yy" #entryDate="ngModel" [showIcon]="true" required="required"></p-calendar>
          </div>   
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label>Address *</label>
            <textarea type="text" class="form-control" rows="2" maxlength="4000" pInputTextarea [(ngModel)]="customer.fullAddress"
                name="fullAddress" #fullAddress="ngModel"></textarea>
        </div>
    </div> 

    <div class="form-row">
        <div class="form-group col-md-12">
            <div class="float-right">
                <button type="button" pButton icon="far fa-save" (click)="SaveCustomer()" [disabled]="f.form.invalid"
                    label="Save"></button>
            </div>
        </div>
    </div>

</form>